<!DOCTYPE html>
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if IE 8]><html class="ie8 ie9" ><![endif]-->
<!--[if IE 7]><html class="ie7 ie8 ie9" ><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Liam Richardson | Interactive Web Developer</title>
    <meta name="description" content="Liam Richardson to is a Interactive Developer based in Bristol, UK.">
    <meta name="keywords" content="Liam Richardson, Discoliam, Front, End, Web, Developer, Front End, Front End Dev, Front End Developer, HTML, CSS, Javascrtipt, JS, Websites, Build, Interactive Bristol, UK" />

    <meta name="robots" content="all" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <meta name="author" content="Liam Richardson" />
    <meta name="copyright" content="<%= Time.now.year %>, Liam Richardson" />

    <meta name="Geo.Country" content="GB" />
    <meta name="Geo.Region" content="GB-BST" />

    <!-- TODO: Place favicon.ico and apple-touch-icon(s) in the root directory, or it not possible, use these meta tags -->
    <link rel="shortcut icon" href="/favicon.ico">
    <!--
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-precomposed.png">
    -->

    <!-- Social Meta Tags -->
    <link rel="author" href="https://plus.google.com/+LiamRichardsonDisco"/>

    <meta property="og:title" content="Liam Richardson - Front End Web Developer"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="#"/> <!-- TODO: Fill in OG Image -->
    <meta property="og:URL" content="http://discoliam.com"/>
    <meta property="og:description" content="Liam Richardson to is a Front End Developer based in Bristol, UK."/>
    <meta property="og:locale" content="en_GB"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://discoliam.com">
    <meta name="twitter:creator" content="@discoliam">
    <meta name="twitter:title" content="Liam Richardson">
    <meta name="twitter:description" content="Liam Richardson is a Front End Developer based in Bristol, UK.">
    <meta name="twitter:image" content="#"> <!-- TODO: Fill in Card Image  -->

    <!-- PREFETCH -->
    <link rel="prefetch" href="/assets/images/bg.jpg">
    <link rel="prefetch" href="/assets/images/projects.gif">
    <link rel="prefetch" href="/assets/images/contact.gif">
    <link rel="prefetch" href="/assets/images/blank.png">
    <link rel="prefetch" href="/assets/images/border-bottom.gif">

    <link rel="prefetch" href="/assets/images/logo-bdh.png">
    <link rel="prefetch" href="/assets/images/logo-gap-medics.png">
    <link rel="prefetch" href="/assets/images/logo-good-energy.png">
    <link rel="prefetch" href="/assets/images/logo-kia.png">
    <link rel="prefetch" href="/assets/images/logo-market-watch.png">
    <link rel="prefetch" href="/assets/images/logo-onezeroone.png">
    <link rel="prefetch" href="/assets/images/logo-puffin.png">
    <link rel="prefetch" href="/assets/images/logo-rau.png">
    <link rel="prefetch" href="/assets/images/logo-scouts.png">
    <link rel="prefetch" href="/assets/images/logo-the-adventurists.png">
    <link rel="prefetch" href="/assets/images/logo-transparency.png">
    <link rel="prefetch" href="/assets/images/logo-work-the-world.png">

    <link rel="prefetch" href="/assets/images/persona-bmx-bg.jpg">
    <link rel="prefetch" href="/assets/images/moustache-booth-bg.jpg">
    <link rel="prefetch" href="/assets/images/longfox-bg.jpg">
    <link rel="prefetch" href="/assets/images/brizzle-ipsum-bg.jpg">

    <!-- STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body class="<%= page_classes %>">
    <a href="#main-content" class="hidden">Skip to Main Content</a>
    <header role="banner">
      <h1><a href="/" title="Discoliam.com">Discoliam</a></h1>
    </header>
    
    <%= yield %>
    
    <footer role=“contentinfo”>
      <p class="copy">
        &copy; 2006 – <%= Time.now.year %> Liam Richardson. All rights reserved. Built using <a href="http://middlemanapp.com/" title="Middleman App"></p>Middleman</a>, <a href="http://sass-lang.com" title="SASS">SASS</a>, and plenty of trial and error. Design by <a href="https://twitter.com/field_street" title="Richard Windsor">Richard Windsor</a>. Social Icons by <a href="http://iconmonstr.com/">IconMonstr</a>.
      </p>
    </footer>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3692424-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
